@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col" style="align-content:center">
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp">
               
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
           
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-3"></div>
</div>