
@{
    ViewBag.Title = "MainMenu";
}



@{
    if (TempData["Message"] != null)
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-success" role="alert">
                    @TempData["Message"].ToString()
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-4">
        <a href="@Url.Action("Index","Reward")"> <button type="button" class="btn btn-success w-100 py-3">Reward</button></a>
    </div>
    <div class="col-4">
        <a href="@Url.Action("Confirm","Reward")"> <button type="button" class="btn btn-success w-100 py-3">Confirm</button></a>
    </div>
    <div class="col-4">
        <a href="@Url.Action("Index","Return")"> <button type="button" class="btn btn-success w-100 py-3">Customer Return</button></a>
    </div>
</div>