
@{
    ViewBag.Title = "MainMenu";
}



<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-success w-100 py-3">Reward</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-success w-100 py-3">Confirm</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-success w-100 py-3">Customer Return</button>
    </div>
</div>