@model FrontEndMVC.Models.CustomerBO
@{
    ViewBag.Title = "Confirm";
}





@{
    if (TempData["error"] != null)
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    @TempData["error"].ToString()
                </div>
            </div>
        </div>
    }
}

@{
    if (TempData["odgovor"] != null)
    {
        <div class="row">
            <div class="mb-3 CustomerDetails">

                <div class="row">
                    <div class="col-2">
                        <label class="col-form-label fw-bold CustomerIme">Customer Name: @Model.Name</label>
                    </div>
                    <div class="col-2" style="text-align:left">
                        <label class="col-form-label fw-bold CustomerID">Customer ID: @Model.Id</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label class="col-form-label fw-bold CUstomerSSN">Customer SSN:@Model.SSN </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" onclick="ConfirmReturn(@Json.Encode(Model))">Reward</button>
            </div>
        </div>
    }
}




<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <form>
            <div class="mb-3">
                <label class="col-form-label">Search Customer</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOptions" id="rbID">
                    <label class="form-check-label" for="rbID">
                        By ID
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOptions" id="rbName" checked>
                    <label class="form-check-label" for="rbName">
                        By Name
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="lblName">Customer Name</span>
                    <input type="text" class="form-control" placeholder="" aria-label="lblName" aria-describedby="basic-addon1" id="name" name="name">
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="lblID">Customer ID</span>
                    <input type="text" class="form-control" placeholder="" aria-label="ID" aria-describedby="basic-addon1" id="Cid" name="Cid">
                </div>

            </div>

            <button type="button" class="btn btn-primary" onclick="FindCustomer()">Search Customer</button>
        </form>
    </div>
    <div class="col-2"></div>
</div>
<script>

    function FindCustomer() {
        if ($('#rbID').is(":checked")) {
            var id = $('#Cid').val();
            window.location.href = "/Reward/ReturnCustomer/" + id;
        }
        else {
            var name = $('#name').val();
            window.location.href = "/Reward/ReturnCustomerByName?name=" + name;
        }
    }

    function RewardCustomer(item) {

        window.location.href = "/Reward/ConfirmReturn/" + item.Id;

    }

</script>


